@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    margin: 0;
}

.app {
    background-size: 100% 100%;
    background-size: auto;
    background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%), radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%), radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%), radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%), radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%), radial-gradient(21% 37% at 72% 23%, #F3F9E39C 24%, #073AFF00 100%), radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 0%, #073AFF00 100%), radial-gradient(74% 86% at 67% 38%, #ECB5E9F5 24%, #073AFF00 100%), linear-gradient(125deg, #D4F8FAFF 1%, #DDD0F0FF 100%);
    /* filter: blur(10px); */
}

.hero-bg {
    background-image: url('http://localhost:5173/src/assets/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: full;
}


.logo {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
}